/* 미디어 쿼리는 파일 분리해서 사용해야 안 헷갈림 */
/* (실무)360사이즈에서 가장 많이 디자인 */
/* (포트폴리오) 화면이 길어야 예뻐서 320*720 사용 */
/* 0~320 */
@media screen and (max-width: 320px){
    header {
        height: 80px;
        background-color: #549dda;
    }
    footer {
        height: 210px;
        background-color: #549dda;
    }
}
@media screen and (max-width: 1080px){
    .s1-cd3-con {
        flex-direction: column;
        overflow: hidden;
        padding-left: 20px; padding-right: 20px;
    }
    .cd3-in {
        width: 100%;
        height: 300px;
        flex-basis: auto;
    }
}