@media screen and (max-width: 1440px){
    .s1-cd3-con {
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* 1080이하 가로 3단 레이아웃 → 세로 3단 레이아웃 */
/* 320~1080까지 동작 */
@media screen and (max-width: 1080px){
    .s1-cd3-con {
        /* 1080가지 상자 레이아웃 -> 세로 */
        flex-direction: column;
        overflow: hidden;
        padding-left: 80px; padding-right: 80px;
    }
    .cd3-in {
        /* 범용성을 위해서  width 100%로 사용 */
        /* width 와 flex-basis 같이 쓰면 안됌 충돌남 */
        /* but 써야하니까 오토처리 함 */
        /* width는 여기저기 쓰기 좋음 */
        width: 100%;
        flex-grow: 0;
        /* flex- item 전용 너비 */
        flex-basis: auto;
    }
}
/* 미디어 쿼리는 파일 분리해서 사용해야 안 헷갈림 */
/* (실무)360사이즈에서 가장 많이 디자인 */
/* (포트폴리오) 화면이 길어야 예뻐서 320*720 사용 */
/* 0~320 */
@media screen and (max-width: 320px){
    header {
        height: 80px;
        background-color: #549dda;
    }
    .s1-cd3-con {
    /* 1080가지 상자 레이아웃 -> 세로 */
    flex-direction: row;
    }
    footer {
        height: 210px;
        background-color: #549dda;
    }
}