body{height: 30px;}
.notice-bar {
    background-color: var(--main);
    /* em 과 rem을 사용할때 위에서 떨어지는 값 생각해서 사용 */
    /* 화면의 변화에 따라 같이 변함 */
    height: 4vh;  min-height: 3vh;
    display: flex; justify-content: center;
    align-items: center; gap: 8px; 
}
header {
    height: 12vh;
    border-bottom: 1px solid var(--main);
    display: flex; justify-content: space-between;
}
.logo-box {
    align-self: center;
}
.user-box {
    display: flex; 
}
.menu1 {
}
 .menu1 ul{
	display: flex; height: 100%;
    gap: var(--num40);
}
.menu1 li{
	display: flex; align-items: center;
    position: relative;
}
.menu1 li:nth-child(2) {
    padding-left: var(--num60);
}
.menu1 li>.icon-new {
    left: calc(50% + 10px);
    top: calc(50% - 35px);
    transform: translate(-50%, -50%);
}
.menu1 a {
	padding-top: var(--num8);
	padding-bottom: var(--num8);
    font-weight: var(--textw-large);
}
.user-menu-box {
    align-self: center; 
    display: flex;
}
.se-box {
    display: flex;
    align-self: center;
}
.user-ex {
    display: flex;
    align-self: center;
    gap: var(--num8);
}