/* 1600px 이상에서 동작하는 코드 */
.box {
    width: 500px; height: 500px;
    background-color: red;
}
/* 1599px부터 동작하는 코드 */
/* (max-width: ) 세미콜론x */
@media screen and (max-width: 1599px ) {
    /* 선택자는 원하는대로 클래스 선택자 or 태그 선택자 등.. */
    .box {
        background-color: rgb(208, 150, 255);
    }
}